{% extends "template.html" %}

{% block title %}Reset your password{% endblock title %}

{% block body %}
<div class="container" style="margin-top: 20vh;">
    <h1>Reset your password</h1>
    {% if validlink %}
        <p class="text-danger">**Please enter your new password twice:**</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
        <p><input type="submit" value="Change my password" class="btn btn-primary" /></p>
        </form>
        <script>
            document.querySelector('#id_new_password1').setAttribute('class','w3-input');
            document.querySelector('#id_new_password1').setAttribute('placeholder','Enter your password');
            document.querySelector('#id_new_password1').setAttribute('style','outline-style:None; background-color: #f8f9fc')
            document.querySelector('#id_new_password2').setAttribute('class','w3-input');
            document.querySelector('#id_new_password2').setAttribute('placeholder','Re-Enter your password');
            document.querySelector('#id_new_password2').setAttribute('style','outline-style:None; background-color: #f8f9fc')
            document.querySelector('.errorlist').setAttribute('style',"color : red")
        </script>
    {% else %}
    <script>
        window.location.assign('{% url '404' %}');
    </script>
    {% endif %}
</div>
{% endblock body %}