<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password - AI</title>
    <style>
        *{
            font-family: 'Courier New', Courier, monospace;
        }

        button{
            font-size: 20px;
            padding: 10px;
            margin: 10px;
            background-color: rgb(42, 156, 250);
            border-radius: 50px;
            outline-style: none;
            cursor: pointer;
            color: cornsilk;
            outline-color: rgb(42, 156, 250);
        }
    </style>
</head>
<body>
    <center>
        <img src="https://ashutosh2020.pythonanywhere.com/static/Ai.png" alt="Ashutosh Intelligence" style="height: 100px;width: 50px;">
        <h1>Hello User!</h1>
        <font color = "red"><h3><i>Someone asked for password reset for email {{ email }}. <br>Your username, in case you've forgotten: {{ user.get_username }}</i></h3></font>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><button>
            Click here to reset Your password
        </button>
        </a>
    </center>
</body>
</html>